

body {
    background: linear-gradient(to left, white, lightgray);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:  #5e5151;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul li {
    margin: 5px 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #575757;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #5e5151;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

header {
  background: white;
  color: black;
  padding: 30px 10px;
  text-shadow: 0 0 5px #fff;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.2em;
  margin: 0;
}

.filter {
  margin: 20px auto;
  text-align: center;
}

.filter select {
  background: #222;
  color: white;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

#car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.car {
  background: #eee8e8;
  border: 2px solid #0c0c0c;
  border-radius: 15px;
  width: 300px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255, 140, 0, 0.4);
  transition: transform 0.4s, box-shadow 0.4s;
  position: relative;
  overflow: hidden;
}
.car:hover { transform: translateY(-10px) scale(1.05); }

.car h2{
     font-family: 'Orbitron', sans-serif;
     color: #000000; }

.condition {
  font-weight: bold;
  margin-top: 10px;
}

.description {
  font-size: 0.9em;
  color: #ccc;
  margin-top: 10px;
  line-height: 1.4em;
}

.condition.good {
  color: #4caf50;
}

.condition.fair {
  color: #fbc02d;
}

.condition.excellent {
  color: #00e676;
}

.condition.superb {
  color: #ff1744;
}

footer {
  margin-top: 30px;
  background: #111;
  padding: 20px;
  font-size: 0.9em;
  color: #aaa;
}


 