* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
   margin-top: 20px;
 }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: ltr; 
    font-family: 'Segoe UI', sans-serif;
    background-color: #5e5151;
    color: #ffffff;
    text-align: center;
}

.main-navbar {
    background-color:  #5e5151;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
}

.main-navbar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      list-style: none;
     display: flex;
    justify-content: flex-end;
    padding: 10px;
     margin: 0;
 }

.main-navbar ul li {
 margin-left: 20px;
}

.main-navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.main-navbar ul li a:hover {
    background-color: #575757;
}

#logo{
    height: 150px;
    width: 200px;
    padding-left: 25px;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }
  footer {
    background-color: #5e5151;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    margin-top: 40px;
}
.frames-row {
    margin-top: 65px;
    display: flex;
    gap: 20px;  
    justify-content: center; 
    align-items: flex-start;
}

.frame {
    background:  #5e5151;
    width: 260px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: center;
}

.frame img {
    width: 100%;
    border-radius: 12px;
    border: 4px solid #ddd;
}


.badge {
    margin-top: 12px;
    background: #b9ad02;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    color: #fffefe;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.carousel-item{
    width: 1600px;
    height: 1150px;
}
#carouselExample{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}