* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
   margin-top: 20px;
 }
body {
    background: linear-gradient(to left, white, lightgray);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: ltr; 
    text-align: right;
}

.main-navbar {
    background-color:  #5e5151;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
}

.main-navbar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      list-style: none;
     display: flex;
    justify-content: flex-end;
    padding: 10px;
     margin: 0;
 }

.main-navbar ul li {
 margin-left: 20px;
}

.main-navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.main-navbar ul li a:hover {
    background-color: #575757;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
 
  padding: 20px;
  margin: 0;
}

#car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.car {
  background: #1e1e1e;
  border: 2px solid #444;
  border-radius: 10px;
  width: 250px;
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.car:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff8c00;
}

.car h2 {
  color: #ff8c00;
}

.condition {
  font-weight: bold;
  margin-top: 10px;
}
#search{
  margin: 5px;
}
footer {
    background-color: #5e5151;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    margin-top: 40px;
  }
  .card{
    padding :10px;
  }
  #logo{
    height: 150px;
    width: 200px;
    padding-left: 25px;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }