* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        

      
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin-top: 20px;
        }
body {
    background: linear-gradient(to left, white, lightgray);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
      direction: rtl; 
    text-align: right;
}

.navbar {
    background-color:  #5e5151;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      list-style: none;
     display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
     margin: 0;
 }

.navbar ul li {
 margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #575757;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background: linear-gradient(90deg, #ff0000, #ff8c00);
  padding: 20px;
  margin: 0;
}

#car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.car {
  background: #1e1e1e;
  border: 2px solid #444;
  border-radius: 10px;
  width: 250px;
  margin: 15px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.car:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff8c00;
}

.car h2 {
  color: #ff8c00;
}

.condition {
  font-weight: bold;
  margin-top: 10px;
}